#background {
	background-color: black;
	display: flex;
	justify-content: center;
	padding-top: 180px;
}

#postal {
	background-color: white;
	padding: 20px;
	width: 500px;
	height: 320px;
}

#encabezado {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#cuerpo {
	display: flex;
}

#texto {
	padding-right: 15px;
}

#formulario {
	align-items: center;
}

#pie {
	display: flex;

	justify-content: center;
}

h1 {
	font-family: "Indie Flower", cursive;
}

img {
	width: 65px;
	height: 65px;
}

p {
	font-family: "Indie Flower", cursive;
}

button {
	background-color: gainsboro;
	border: none;
	text-align: center;
	border-bottom: 2px black;
	font-size: 15px;
	font-family: "Indie Flower", cursive;
	padding: 10px 20px;
}

input {
	border: none;
	font-size: 15px;
	border-bottom: 2px solid gray;
	margin: 5px;
	font-family: "Indie Flower", cursive;
	padding-right: 5px;
}
